body{
    color: orange;
    background-image: url(StarsBackground.jpg);
    background-color: black;
    margin: 40px;
}
ul{
    text-align: center;
    list-style-type: none;
}
li{
    position: relative;
}
img{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}